.expenses-card {
  background-color: hsl(var(--clr-pale-white));
  border-radius: 10px;
  margin-top: var(--space-s-m);
  padding: var(--space-m);

  &__header {
    margin-bottom: 3.25rem;
  }

  &__chart {
    margin-bottom: var(--space-m);
    width: 100%;

    tbody {
      display: flex;
      gap: var(--space-xs-s);
    }

    tr {
      flex-grow: 1;
      flex-basis: 2.0625rem;
      max-width: 3.125rem;

      display: flex;
      flex-direction: column-reverse;

      th {
        color: hsl(var(--clr-medium-brown));
        font-size: var(--step--1);
      }

      td {
        background-color: hsl(var(--clr-soft-red));
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: hsl(var(--clr-bright-soft-red));
        }
      }
    }
  }

  &__monthly-totals {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    border-top: 1px solid hsl(var(--clr-cream));
    max-width: 26.5625rem;
    padding-top: var(--space-m);

    .current-month {
      align-self: flex-start;
    }

    .previous-month {
      align-self: flex-end;

      display: flex;
      flex-direction: column-reverse;
    }
  }
}
